@{
    //A home page containing the title “The Joel Hilton Film Collection”
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1 class="text-center">Hi! I'm Joel</h1>
<h3 class="text-center">Welcome to my website to keep track of my ever-expanding movie collection. </h3>

@*with an image of Joel*@
<div class="text-center">
    <img src="~/img/JoelHiltonHeadshot.jpg" height="400" />
</div>

