@*
    A separate “My Podcasts” page with a link to the Baconsale site
*@
@{
    ViewData["Title"] = "My Podcasts";
}

<h1 class="text-center">Hello! Here is my awesome podcast Baconsale- A Hickory-Smoked Pop Culture Podcast </h1>
<br />
<div class="text-center">
    <a href="https://baconsale.com"><img src="~/img/baconsale.jpg" /></a>
</div>

<br /><br />
<div class="text-center">
    Click the image or <a asp-area="" asp-controller="Home" asp-action="BaconSale">here</a> to learn more
</div>